@import './../../scss/default.scss';
body {
  background-color: #e5ebf0 !important;
}
.page--welcome {
  flex: 1;
    display: flex;
    flex-direction: column;
}

.welcome {
  flex: 1 1 100%;
  .welcome--listservice {
    background-color: $bg-blue;
    font-weight: bold;
    .welcome--itemservice {
      display: flex;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .welcome--itemservice-icon {
      margin-right: 20px
    }
  }
}

.welcome--actions {
  background-color: #fff;
  .btn {
    border-radius: 20px;
  }
  
}
.welcome--actions-content {
  max-width: 350px;
}
.welcome--formLogin {
  max-width: 600px;
  margin: 0 auto;
}