$bg-blue: #1da1f2;
$bg-body: #e5ebf0;

body {
  background-color: #ffffff;// $bg-body;
  &.bg-grey {
    background-color: $bg-body;
  }
}

.fa-twitter {
  color: $bg-blue !important; 
}

.btn-primary{
  background-color: $bg-blue !important;
  border-color: $bg-blue !important;
}

.btn-outline-primary{
  border-color: $bg-blue !important;
  color: $bg-blue !important;
  &:hover {
    // color: #fff !important;
    background-color: #eaf5fd !important;
  }
}
.btn-radius{
  border-radius: 20px !important;
}
.header--container {
  max-height: 46px;
}
.cursor-pointer {
  cursor: pointer ;
}
.pageout {
  max-width: 865px;
  width: 100%;
  margin: 0 auto;
  @media screen and (min-width: 576px){
    padding: 30px 15px;
  }
}