@import './../../scss/default.scss';


.header {
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.25)
}
.header--container {
  width: auto;
  max-width: 865px;
  margin: 0 auto;
}

.menu-hover {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: left;
  
  a {
    color: #66747e;
    display: block;
    text-decoration: none !important;
    position: relative;
    .context {
      margin: auto 0;
    }
    &::after{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 0px;
      content: '';
      background-color: #1da1f2;
      transition: height 0.2s;
    }
    &:hover{
      color: #66747e;
      &::after{ 
        height: 3px;
      }
    }
    .text-menu {
      padding: 0 10px;
    }
  }
}
.header--menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: left;
  li {
    display: inline-block;
    vertical-align: top;
  }
  a {
    
    height: 46px;
    line-height: 46px;
    text-decoration: none !important;
    position: relative;
    &::after{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 0px;
      content: '';
      background-color: #1da1f2;
      transition: height 0.2s;
    }
    &:hover{
      color: #66747e;
      &::after{ 
        height: 3px;
      }
    }
    .text-menu {
      padding: 0 10px;
    }
  }
}



.login--pageout{
  max-width: 865px;
  width: 100%;
  margin: 0 auto;
  @media screen and (min-width: 576px){
    padding: 30px 15px;
  }
}
.page--container {
  border: 1px solid #ced3d8;
  background-color: #fff;
}

.pageout--wrapper {
  width: auto;
  max-width: 585px;
  padding: 0 15px;
  margin: 0 auto
}
.pageout--helper {
  background-color: #f5f8fa;
  font-size: 14px;
  color: #657786;
}

.header--search {
  position: relative;
  input {
    background-color: #e5ebf0;
    border: none !important;
    border-radius: 20px;
    height: 33px;
    line-height: 33px;
    text-indent: 35px;
  }
  .header--searchIcon {
    position: absolute;
    top: 50%;
    left: 10px;
    line-height: 16px;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
  }
  .fas {
    color: #657685;
  }
}
.modal-signup .modal-content {
  height: 100%;
  max-height: 500px
}
.form-signup {
  .form-input {
    margin-bottom: 20px;
    position: relative;
    .len_name {
      font-size: 12px;
      position: absolute;
      bottom: -19px;
      right: 0;
      color: #667785;  
    }
  }
  
  input {
    border-left: none;
    border-top: none;
    border-right: none;
    background-color: rgba($color: #000000, $alpha: 0);
    box-shadow: none;
    outline: none;
    width: 100%;
    transition: border-color 0.15s;
    border-bottom: 1px solid #657685;
    &:focus {
      border-bottom-color: $bg-blue;
      border-bottom-width: 2px;
    }
  }

  .text-compliance {
    font-size: 14px;
    line-height: 18px;
    padding-top: 40px;
  }
}
.search-account {
  max-width: 300px;
}
.pageout-reset {
  .icon {
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
  .info_searched_user {
    font-size: 13px;
    line-height: 1rem;
    margin-top: auto;
    margin-bottom: auto;
  }
}
$clr_reliable_4: #77b255;
$clr_reliable_3: #5c913b;
$clr_reliable_2: #3e721d;
$clr_reliable_1: #ffcc4d;
$clr_reliable_error: #be1931;

.label-create-password {
  width: 100%;
  max-width: 320px;
  position: relative;
  &.new {
    .password_range {
      position: absolute;
      bottom: 10px;
      right: 15px;
      width: 30%;
      height: 7px;
      background-color: #e0e7ec;
      border-radius: 4px;
      overflow: hidden;
      &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        width: 0%;
      }

      &.reliable_4::after{
        width: 100%;
        background-color: $clr_reliable_4;
      }
      &.reliable_3::after{
        width: 75%;
        background-color: $clr_reliable_3;
      }
      &.reliable_2::after{
        width: 50%;
        background-color: $clr_reliable_2;
      }
      &.reliable_1::after{
        width: 25%;
        background-color: $clr_reliable_1;
      }
    }
  }
  .form-control.error {
    box-shadow: 0 0 0px 3px $clr_reliable_error
    
  }
}
.reliable_4 {
  color: $clr_reliable_4
}
.reliable_3 {
  color: $clr_reliable_3
}
.reliable_2 {
  color: $clr_reliable_2
}
.reliable_1 {
  color: $clr_reliable_1
}